.cartItem{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    padding: 30px;
}

.cartItem h3{
    padding: 20px;
}

.cartImgCont{
    height: 100%;
    padding: 15px;
}

.cartImgCont img{
    width: 100%;
    height: 300px;
}

.cartInput{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.remFromCart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.incrementer{
    display: flex;
    padding: 20px;
    height: 50px
}