.itemCard{
    background-color: #444;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgCont{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCont img{
    max-width: 100%;
    max-height: 100%;
}

.desc{
    height: 150px;
    overflow-y: auto;
}

.cartInput{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.incrementer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.incrementer p{
    width: 30px;
}